<div class='text-warning' style="margin-top: 20px; margin-bottom: 10px;">
     <%= listing_orders_times( @orders.load) if  @orders %>
</div>
<p style="margin-top: 15px;">
  Total : 
    <%= current_price @total_price %>
</p> 
<%# unless @total_price.nil? && @item_ids.nil? %>
     <%= form_tag charges_path(amount:  @total_price  , item_ids: @item_ids )  , id: 'paying-form' do %>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <%= hidden_field_tag :stripeToken  %> 
          <%unless @total_price.nil? %>
          <button id='payNowButton' class='btn btn-primary'>Pay Now</button>
          <% end %>
      <% end %> 
  <%# end %>
        <br />

          <script>
          $(document ).ready(function() {           
              var handler = StripeCheckout.configure({
              key: '<%= Rails.configuration.stripe[:publishable_key] %>',
              locale: 'auto',
              description: "Buying " + $('#item_name').next().text().trim(),
              image: "https://stripe.com/img/documentation/checkout/marketplace.png",
              name: 'IT',
              //this is a call back which is called when handler gets open and finsish the modal
              token: function(token) {   
                $('input#stripeToken').val(token.id);               
                $('form').submit();
              }
            });
          document.getElementById('payNowButton').addEventListener('click', function(e) {            
              e.preventDefault();
              var amount = parseFloat(document.getElementById('result').innerHTML);  
              amount = amount * 100; // Needs to be an integer!
              amount = Math.round(amount)
              handler.open({
                amount: amount
              })
            
            });

            $(window).on('popstate', function() {
              handler.close();
            });
          });
          

          </script>
 
    


