<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
     <p>
      <strong id="item_name" >Name:</strong> 
        <span >
          <%= @item.name %>
        </span>
      </p>  
      <p>
        <strong>Price:</strong>
        <%= @item.price %>
      </p>
  
     <script src="https://checkout.stripe.com/checkout.js"></script>

      <%= form_tag item_charges_path(@item, amount: @item.price), id: 'paying-form' do %>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <%= hidden_field_tag :stripeToken  %>       
        
        <button id='payNowButton' class='btn btn-primary'>Pay Now</button>
        
      <% end %>
  
        <%= link_to 'Edit', edit_item_path(@item) %> |
        <%= link_to 'Back', items_path %>
              
        
          <script>
          $(document ).ready(function() {
            var handler = StripeCheckout.configure({
              key: '<%= Rails.configuration.stripe[:publishable_key] %>',
              locale: 'auto',
              description: "Buying " + $('#item_name').next().text().trim(),
              image: "https://stripe.com/img/documentation/checkout/marketplace.png",
              name: 'IT',
              //this is a call back which is called when handler gets open and finsish the modal
              token: function(token) {   
                $('input#stripeToken').val(token.id);               
                $('form').submit();
              }
            });
          document.getElementById('payNowButton').addEventListener('click', function(e) {
            
              e.preventDefault();
              var amount = <%= @item.price %>;    
              amount = amount * 100; // Needs to be an integer!
              handler.open({
                amount: Math.round(amount)
              })
            });

            $(window).on('popstate', function() {
              handler.close();
            });
          });
          </script>
    </div>
  </div>
</div>
